* {
    margin: 0;
}

/* HEADER NAV */

a {
    text-decoration: none;
}

.nav-item > a {
    color: rgb(31, 31, 31);
}

.head {
    width: 100%;
    background-color: rgba(230, 230, 230, 0.85);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:not(.logo) {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 40px;
    padding : 50px; 
    color: rgb(31, 31, 31)
}

.logo {
    max-width: 200px;
    padding: 5px;
}

/* MAIN MENU */

.hello {
    font-size: 48px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 25px;
}

.photo > .photo-exact {
    max-width: 100%;
    height: auto;
}

.photo {
    position: relative;
    text-align: left;
}

.abs-one, .abs-two, .abs-three, .abs-four {
    max-width: 40%;
    position: absolute;
    top: 0;
    left: 10%;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: rgb(112, 112, 112);
}

.black {
    color: rgb(31, 31, 31);
}
/* FOOTER */

.foot {
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 32px;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook > a, .instagram > a {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.facebook, .instagram, .email, .phone {
    padding: 50px;
}

/* MEDIA QUERY FOR TABLETS AND SMALL LAPTOPS */

@media screen and (max-width: 1440px) and (min-width: 768px) {
    
    /* HEADER */
    
    .nav-item:not(.logo), .hello {
        font-size: 32px;
        padding: 25px;
    }

    /* MAIN PART */

    .hello {
        font-size: 24px;
    }

    .abs-one, .abs-two, .abs-three, .abs-four {
        width: 40%;
        position: absolute;
        top: 0;
        left: 10%;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: rgb(112, 112, 112);
    }

    /* FOOTER */

    .facebook, .instagram, .email, .phone {
        padding: 15px;
        font-size: 16px;
    }
}

/* MEDIA QUERY FOR MOBILES AND TABLETS */

@media only screen and (max-width: 768px) {
    /* HEADER */
    .head {
        width: 100%;
        position: relative;
    }

    .logo > a > img {
        width: 90px;
        height: 80px;
        margin: auto;
    }

    .nav-item:not(.logo) {
        display: none;
        position: absolute;
        top: auto;
        width: auto;
    }

    .logo:hover .nav-item {
        display: block;
    }

    /* MAIN PART */

    .hello {
        font-size: 24px;
        text-align: center;
        padding: 15px;
    }

    .photo-exact {
        display: none;
        position: absolute;
    }

    .abs-one, .abs-two, .abs-three, .abs-four {
        width: 85%;
        position: static;
        display: block;
        font-size: 16px;
        padding: 10px;
        margin: auto;
        text-align: center;
    }

    /* FOOTER */
    .foot {
        width: 100%;
        display: flex;
        text-align: center;
    }

    .email {
        display: none;
        position: absolute;
    }

    .facebook, .instagram, .phone {
        padding: 15px;
        font-size: 16px;
    }
  }