* {
    margin: 0;
}

/*  HEADER */

a {
    text-decoration: none;
}

.nav-item > a {
    color: rgb(31, 31, 31);
}

.head {
    width: 100%;
    background-color: rgba(230, 230, 230, 0.85);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:not(.logo) {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 40px;
    padding : 50px; 
    color: rgb(31, 31, 31);
}

.logo {
    max-width: 200px;
    padding: 5px;
}

.mobnav, .menu-button {
    display: none;
    position: absolute;
    top: auto;
    width: auto;
}

/* MAIN PART */

.anchor {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    padding: 2.5% 0;
    background-color: rgb(31, 31, 31);
    
}

.anchor > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*.buyheading {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 48px;
    padding-top: 45px;
}*/


.left {
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: rgb(31, 31, 31);
    margin:  3% 0 0 3.5%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-photo {
    padding: 60px;
    transition: transform 1s;
}

.flex-photo:hover {
    transform: scale(1.1);
}

/* FOOTER */

.foot {
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 32px;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook > a, .instagram > a {
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.facebook, .instagram, .email, .phone {
    padding: 50px;
}

/* MEDIA QUERY FOR TABLETS AND SMALL LAPTOPS */

@media screen and (max-width: 1440px) and (min-width: 768px) {
    
    /* HEADER */
    .navbar {
        overflow: auto;
        white-space: nowrap;
    }

    .nav-item:not(.logo) {
        font-size: 32px;
        padding: 25px;
    }

    /* FOOTER */

    .facebook, .instagram, .email, .phone {
        padding: 15px;
        font-size: 16px;
    }
}

/* MEDIA QUERY FOR MOBILES AND TABLETS */

@media only screen and (max-width: 768px) {
    /* HEADER */
    .head {
        width: 100%;
        position: relative;
    }

    .logo > a > img {
        width: 90px;
        height: 80px;
        margin: auto;
    }

    .nav-item:not(.logo) {
        display: none;
        position: absolute;
        top: auto;
        width: auto;
    }

    .menu-button {
        text-align: center;
        padding: 10px;
        font-size: 18px;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
    }
    
    .mobnav, .menu-button {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*overflow: auto;
        white-space: nowrap;*/
    }

    .mobnav-item > a {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        color: rgb(31, 31, 31);
        display: inline-block;
        text-align: center;
        font-size: 18px;
        padding: 10px;
    }

    /* MAIN PART */

    .anchor {
        font-size: 18px;
    }

    .left {
        font-size: 20px;
    }

    .buyheading {
        font-size: 20px;
    }
    
    .buyheading, .flex-photo {
        padding: 20px;
    }

    /* FOOTER */
        .foot {
            width: 100%;
            display: flex;
            text-align: center;
        }
    
        .email {
            display: none;
            position: absolute;
        }
    
        .facebook, .instagram, .phone {
            padding: 15px;
            font-size: 16px;
        }

}
