* {
    margin: 0;
}

/*  HEADER NAVBAR */

a {
    text-decoration: none;
}

.nav-item > a {
    color: rgb(31, 31, 31);
}

.head {
    width: 100%;
    background-color: rgba(230, 230, 230, 0.85);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:not(.logo) {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 40px;
    padding : 50px; 
    color: rgb(31, 31, 31);
}

.logo {
    max-width: 200px;
    padding: 5px;
}

.mobnav {
    display: none;
    position: absolute;
    top: auto;
    width: auto;
}

/* MAIN MENU */

.bold {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 48px;
    padding: 45px 0;
}

.location {
    display: flex;
    align-items: flex-start;
    width: 1420px;
    margin: auto;
    padding: 35px;
}

.location .address {
    flex: 1;
    padding: 110px 65px;
}

.address {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: rgb(112, 112, 112);
}


/* FOOTER */

.foot {
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 32px;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook > a, .instagram > a {
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.facebook, .instagram, .email, .phone {
    padding: 50px;
}


/* MEDIA QUERY FOR TABLETS AND SMALL LAPTOPS */

@media screen and (max-width: 1440px) and (min-width: 768px) {
    
    /* HEADER */
    
    .nav-item:not(.logo), .hello {
        font-size: 32px;
        padding: 25px;
    }

    .navbar {
        overflow: auto;
        white-space: nowrap;
    }

    /* MAIN PART */

    .bold {
        font-size: 24px;
    }
    
    .location {
        display: flex;
        /*flex-direction: column;*/
        max-width: 85%;
        justify-content: center;
        align-items: center;
    }

    .location .address {
        padding: 35px;
    }

    .address {
        font-size: 24px;
    }

    /* FOOTER */

    .facebook, .instagram, .email, .phone {
        padding: 15px;
        font-size: 24px;
    }
}

/* MEDIA QUERY FOR MOBILES AND TABLETS */

@media only screen and (max-width: 768px) {
    /* HEADER */
    .head {
        width: 100%;
        position: relative;
    }

    .logo > a > img {
        width: 90px;
        height: 80px;
        margin: auto;
    }

    .nav-item:not(.logo) {
        display: none;
        position: absolute;
        top: auto;
        width: auto;
    }

    .mobnav {
        position: static;
        display: flex;
        justify-content: center;
        overflow: auto;
        white-space: nowrap;
    }

    .mobnav-item > a {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        color: rgb(31, 31, 31);
        display: inline-block;
        text-align: center;
        font-size: 18px;
        padding: 10px;
    }

    /* MAIN PART */

    .bold {
        font-size: 24px;
    }

    .location > iframe {
        width: 320px;
    }

    .location {
        display: flex;
        flex-direction: column;
        max-width: 85%;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    /*.address {
        font-size: 18px;
        padding: 15px;
    }*/

    .location .address {
        flex: 1;
        font-size: 18px;
        padding: 15px;
    }

    /* FOOTER */
    .foot {
        width: 100%;
        display: flex;
        text-align: center;
    }

    .email {
        display: none;
        position: absolute;
    }

    .facebook, .instagram, .phone {
        padding: 15px;
        font-size: 16px;
    }
  }